/* 
 * Kiezatlas Alternative Maps Interface - berlin.de Stylesheet
 * 
 * @author Malte Reißig - mre@deepamehta.de (14th of May 2010)
 */

/** cutout 
#kiezatlas { font: 76% Arial, Helvetica, sans-serif; } 
#focusInput { font-family: "Arial", "Sans-Serif"; font-size: 11px; color: #fff; } font-family: "Arial", "Sans-Serif"; font-size: 11px; color: #fff, #b60033
background:#3F5DA6; 
.activeField textarea input { border: 1px solid #007; }
.idle textarea input { }
.olControlPanel .olControlNavigationItemActive { background-color: #fff }
.olControlPanel .olControlNavigationItemInactive { background-color: #aaa  font: 76% Arial,Helvetica,sans-serif}
; background-color: #6C6C6C; background-image: http://www.berlin.de/.img/bde/menubar-grey-bg.gif; border-right-color: white; border-right-style: groove; border-right-width: 2px; border-left-style: groove; border-left-width: 2px; 
*/
#kiezatlas { font: 76% Arial, Helvetica, sans-serif;  }
#kaheader { position: absolute; left:0px; top:63px; background: #e6edff; height: 21px; border: 0px solid #4170D4; border-right: 1px solid #4170D4; border-bottom: 1px solid #4170D4; font: Arial, Helvetica, sans-serif; }
#focusInput { position: absolute; top: 3px; color: #4170D4; font-size: 10px; }
#focusInput input, #focusInput textarea {  height: 15px; border: 1px solid #4170D4; padding-left: 4px; font-size:10px; background-color:#fff; color: #000; width:180px;}
#focusAlternatives { position: absolute; top: 85px; width: 167px; background-color: #ffffff; opacity: 0.75; border: 1px solid #4170D4; border-top: 0px; font-size: 10px; padding: 5px; color: #000000; visibility: hidden; }
#searchInput { position: absolute; top: 3px; color: #4170D4; font-size: 10px; }
#searchInput input, #searchInput textarea { height: 15px; border: 1px solid #4170D4; padding-left: 4px; font-size: 10px; background-color:#fff; color: #000; width:140px;}
#mapName { font: 10px Arial, Helvetica, sans-serif; font-weight: bold; position: absolute; left:3px; top: 6px; color: #4170D4; }
#headerButtons { position: absolute; top: 3px;}
#mapControl { position: absolute; vertical-align: top; width:120px; height:20px; color:#4170D4; font: 10px Arial, Helvetica, sans-serif; font-weight: bold; background-color: #fff; border: 1px solid #4170D4; opacity: 0.8; }
#mapControl a { color:#4170D4; font-size: 10px; }
#moreLabel { position: relative; left: 4px; top: -1px; }
#mapFunctions { position: relative; top: 1px; }
#toggleMarkerHref { position: relative; left: 0px; top: 2px; }
#resetMarkerHref { position: relative; left: 2px; top: 2px; }
#divider { position: relative; left: 2px; top: 0px; }
#mapSwitcher { font: 10px Arial, Helvetica, sans-serif; font-weight: bold; color: #4170d4 !important; text-align: right;  }
#mapMarkerButtons { font-family: sans-serif; font-size: smaller; color: #4170d4; font-weight:bold; !important; opacity: 0.75; text-decoration: none;}
#memu { position: absolute; background-color: #fff; width:325px; opacity:0.8; padding: 5px; padding-left: 10px; color:#3f5da6; }
#memu a .hover { color:#4170D4; }
#map { position: absolute; left:0px; }
#navPanel{ position: absolute; left: 5px; bottom: 50px;}
#sideBar { position: absolute; border-top: 0px solid #4170d4; border-bottom: 1px solid #4170d4; border-right: 1px solid #4170D4; border-left: 1px solid #4170D4; background:#fff; }
#sideBarCriterias { position:relative; left:5px; top:5px; cursor:pointer; }
#sideBarCategories { position:relative; left:5px; top:10px; overflow:auto; }
#sideBarControl { position: absolute; width:5px; top:29px; background: #4170D4; }
#progContainer { position:absolute; top:45%; left:35%; width:50%; height:50%; opacity: 0.6; }
#kafooter { background: #fff; height:34px; position:absolute; bottom:2px; }
#footerImprint { position:absolute; right:8px; bottom: 18px; }
#footerImprint a { color: #b60033; text-decoration: none; font-weight: bold; }
#footerPoweredBy { position:absolute; right:8px; bottom: 3px; }
#footerPoweredBy a {  color: #b60033; text-decoration: none; font-weight: bold;}
#helpFont { position: absolute; bottom: 5px; font-size: 12px; font-weight: bold; color: #4170d4; text-decoration: none;}
#helpPageOne { position: relative; left: 0px; top: 0px; }
.berlinMapName { position: relative; left: 3em; top: 0px; width: 145px; height: 30px; background: url("/.img/bde/menubar-grey-bg.gif") repeat-x scroll 0 0 #6C6C6C; border-top: 0px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff; border-bottom: 0px solid #fff; }
.olControlPanel { background-color: #4170D4; }
.olControlLayerSwitcher olControlNoSelect { background-color: #4170D4; position: absolute; top: 352px !important; }
.olControlLayerSwitcher { background-color: #4170D4; position: absolute; top: 352px !important; }
.critLinkNormal { text-decoration: underline; }
.catRowDeselected { background: #fff; }
.catRowSelected { background: #E6EDFF; }
.propertyLabel { position:relative; left: 1px; font-weight: bold; }
.propertyField { position:relative; left: 1px; }
.topicRowDeselected { background: #fff; }
.topicRowSelected { background: #e6edff; }
.olControlAttribution { position:absolute; bottom: 3px !important; }
.redTitle { color: #b60033; }
.layersDiv { position:relative; left: 5px;}
.dataLbl { color: #4170D4; }
.baseLbl { color: #4170D4; }
.dataLayersDiv { border: 1px solid #e6edff; padding: 2px; }
.baseLayersDiv { border: 1px solid #e6edff; padding: 2px; }
