/* 
 * Kiezatlas Alternative Maps Interface - Kiezatlas Labs Stylesheet
 * 
 * @author Malte Reißig - mre@deepamehta.de (23 of July 2010)
 */

#kiezatlas { font: 76% Arial, Helvetica, sans-serif; width:100%; }
#kaheader { position: absolute; left:0px; top:0px; height:27px; background:#3f5da6; }
#focusInput { position: absolute; height: 22px; top:5px; font-family: "Arial", "Sans-Serif"; font-size: 11px; color: #fff } 
#focusInput input, #focusInput textarea { border: 1px solid #ffffff; font-family: "Arial", "Sans-Serif"; font-size: 11px; padding: 4px; background-color:#009; color: #fff; width:180px; }
#searchInput { position: absolute; height: 22px; top:5px; font-family: "Arial", "Sans-Serif"; font-size: 11px; color: #fff } 
#searchInput input, #searchInput textarea { border: 1px solid #ffffff; font-family: "Arial", "Sans-Serif"; font-size: 11px; padding: 4px; background-color:#009; color: #fff; width:140px; }
#headerButtons { position: absolute; top:1px; }
#mapName { position: absolute; left:10px; top:10px; width:350px; height:20px; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:11px; color:#fff; }
#mapControl { position: absolute; vertical-align: top; width:120px; height:20px; color:#4170D4; font: 10px Arial, Helvetica, sans-serif; font-weight: bold; background-color: #fff; border: 1px solid #3f5da6; opacity: 0.8; }
#mapControl a { color:#3f5da6; font-size: 10px; }
#resetMarkerHref { position: relative; top: 4px; }
#toggleMarkerHref { position: relative; top: 4px; }
#permaLinkHref { position: relative; top: 4px; }
#mapSwitcher { font: 10px Arial, Helvetica, sans-serif; color: #4170d4 !important; }
#mapMarkerButtons { font: 12px Arial, Helvetica, sans-serif; color: #4170d4; font-weight:bold; !important; text-decoration: none;}
#memu { position: absolute top: 4px left: 10px; background-color: #fff; width:325px; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:11px; opacity:0.8; padding: 5px; padding-left: 10px; color:#000099; }
#memu a .hover { color:#3f5da6; }
#map { position: absolute; left:0px; }
#focusAlternatives { background-color:#FFFFFF; border-color:-moz-use-text-color #4170D4 #4170D4; border-right:1px solid #4170D4; border-style:none solid solid; border-width:0 1px 1px; color:#000000; font-size:10px; opacity:0.75; padding:5px; position:absolute; top:30px; visibility:hidden; width:172px; }
#navPanel{ position: absolute; left: 5px; bottom: 50px;}
#sideBar { position: absolute; border: 1px solid #3f5da6; border-top: 0px solid #ffffff; background:#fff; }
#sideBarCriterias { position:relative; left:5px; top:5px; cursor:pointer; color: #009; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:13px; }
#sideBarCategories { position:relative; left:5px; top:10px; overflow:auto; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:12px;}
#sideBarControl { position: absolute; width:5px; top:29px; background:#3f5da6; }
#progContainer { position:absolute; top:45%; left:35%; width:50%; height:50%; font-family: "Times New Roman, Times, serif"; font-size:10px; }
#kafooter { background: #fff; height:35px; position:absolute; bottom:1px; font-family: "Verdana", "Tahoma", "sans-serif"; font-size:10px; }
#footerImprint { position:absolute; right:8px; bottom: 21px; font-family: "Verdana", "Tahoma", "sans-serif"; font-size:10px; }
#footerPoweredBy { position:absolute; right:8px; bottom: 5px; font-family: "Verdana", "Tahoma", "sans-serif"; font-size:10px; }
#helpFont { position: absolute; bottom: 5px; font-size: 12px; font-weight: bold; color: #4170d4; text-decoration: none;}
#helpPageOne { position: relative; left: 0px; top: 0px; }
#navigation-helper { border-top: 1px dashed #e8e8e8; border-bottom: 1px dashed #e8e8e8; font-size:10px; margin-top:2px; padding-left: 4px; padding-bottom: 2px; padding-top:2px; padding-right: 8px; text-align: right }
.olControlPanel { background-color: #4170D4; }
.olControlLayerSwitcher olControlNoSelect { background-color: #4170D4; position: absolute; top: 352px !important; }
.olControlLayerSwitcher { background-color: #4170D4; position: absolute; top: 352px !important; }
.critLinkNormal { text-decoration: underline; }
.catRowDeselected { background: #fff; }
.catRowSelected { background: #E6EDFF; }
.propertyLabel { position:relative; left: 1px; font-weight: bold; }
.propertyField { position:relative; left: 1px; }
.additionalInfo { width: 270px; background: #E8E8E8; margin-left: auto; margin-right: auto; padding-top: 5px; padding-bottom: 5px; padding-left:5px; padding-right:15px; border: 1px dashed #000;}
.additionalInfoWhite { width: 270px; margin-left: auto; margin-right: auto; padding-top: 5px; padding-bottom: 5px; padding-left:5px; padding-right:5px; border: 1px dashed #000;}
.topicRowDeselected { background: #fff; }
.topicRowSelected { background: #e6edff; }
.olControlAttribution { position:absolute; bottom: 5px !important; right: 5px ! important; font-weight: bold;}
.redTitle { color: #b60033; }
.layersDiv { position:relative; left: 5px }
.dataLbl { color: #4170D4; }
.baseLbl { color: #4170D4; }
.dataLayersDiv { border: 1px solid #e6edff; padding: 2px; }
.baseLayersDiv { border: 1px solid #e6edff; padding: 2px; }
