body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial;
	font-size: 12px;
}

.big {
	font-size: 14px;
	font-weight: bold;
}

.small {
	color: #666666;
	font-size: 10px;
}
	
.evenrow {
	background-color: #F0F0FF;
}

.oddrow {
	background-color: #FFFFFF;
}

/* used to display the label/key/name of the property */
.label {
	font-family: Verdana, Arial;
	font-size: 10px;
	color: #666;
	font-weight: bold;
}
/* used to display the value of the property */
.content {
	color: #000;
	font-family: Verdana, Arial;
	font-size: 12px;
}
/* used as the container for the generic propertoes below image and fahrplan link */
.wholeInfo {
	align: left;
	width: 95%;
	text-align: left;
	white-space: normal;
	background-color: #EEE;
	padding: 10px;
  	border: 1px dashed silver;
}

/* used in the Modern Box Layout as a container for MultiType Fields  */
.multiBox {
	position: relative;
	color: #000;
	font-family: Verdana, Arial;
	font-size: 12px;
	#padding-left: 20px; 
	padding: 10px;
	align: left;
	width: 97%;
	text-align: left;
	white-space: pre-wrap;
	background-color: #FFF;
	padding: 5px;
  	border: 1px dashed silver;
}
	
